.log  {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.spacer {
    flex:1 1 auto;
}

.list-horizontal {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.mat-list-item {
    color: rgb(0, 0, 0);
    font-size:x-large
}