.round {
    border-radius: 50%;
    width: 20%;
}

.mat-expansion-panel img {
    float: right;
    width: 10%;
}

.hero {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;    
}

.mat-form-field {
    width: 100%;
}

table {
    font-size: 0.9em;
    width: 100%;
}

thead, tbody {
    display: block;
}

tbody {
    max-height: 250px;
    overflow-y: auto;
}
